@font-face {
    font-family: 'MathJax_AMS';
    src: url('MathJax_AMS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MathJax_Caligraphic';
    src: url('MathJax_Caligraphic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MathJax_Fraktur';
    src: url('MathJax_Fraktur-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MathJax_SansSerif';
    src: url('MathJax_SansSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MathJax_Vector';
    src: url('MathJax_Vector-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MathJax_Math_Regular';
    src: url('MathJax_Math-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MathJax_Main_Regular';
    src: url('MathJax_Main-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}